<div class="title-container">
    <h1 class="title">Rock Paper Scissors</h1>
    <h2 class="title-description">New game</h2>
    <hr class="title-underline" />
</div>

<form class="content">
    Your name:<br />
    <input type="text" ng-model="player.name" class="focus-element" /><br />

    Your choice:

    <div class="shapes-container">
        <div class="block-container">
            <div ng-repeat="shape in shapes" class="shape-btn">
                <button ng-click="createNewGame(player, shape)" class="shape"><i class="{{shape.icon}}"></i></button>
                <!--<hr />-->
            </div>
        </div>
    </div>

</form>