<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="rockPaperScissorsApp">
    <div ng-controller="GameCtrl">
        <p ng-bind="helloWorldData"></p>
    </div>

    <script src="/scripts/app.js"></script>
</body>
</html>